%html
%head
  %meta{ :content => "text/html;charset=UTF-8"}/
%body
  %h1 Website Contacy
  %p
    This visitor requredd contact
  %p
    =@contact.name
    %br
    =@contact.email
    %br
  %p
    the visitor said:
  %p
    =@contact.content
