- content_for :title do
  Foobar kadign
- content_for :description do
  Wesite of Foobar Kadigan

%section
  %image {src => "http://lorempixel.com/1170/600/cats/1"}
%section
  .column
    %h2
      Stay in touch
  .column
    .form-centered
      =simple_form_for @visitor do |f|
        =f.error_notification
        =f.input :email, label: false, :placeholder => 'your email address ...'
        %br
        =f.button :submit, "sign up for the newsletter", :class => "submit"
  