!!!
%html
%head
  %title 
    = content_for?(:title) ? yield(:title) : "Learn Rails"
  =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
  =javascript_include_tag 'application', 'data-turbolinks-track' => true 
  =csrf_meta_tags
  %meta{:name => "description", :content => "Learn Rails"}/
%body
  =render "nav"
  .container
    =render 'messages' 
    =yield

